./venv
./__pycache__
./.codesandbox
./.devcontainer
./.venv

*.db
*.db-shm
*.db-wal
jurados.db
jurados.db-shm
jurados.db-wal
log_votos.txt
ui.spec
votos.db
votos.db-shm
votos.db-wal
venv/

.vscode/
.pytest_cache/
.devcontainer/
.codesandbox/
__pycache__

.env
*.sh
