bidict
blinker
certifi
charset-normalizer
click
dnspython
dotenv
eventlet
Flask
Flask-SocketIO
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
MarkupSafe
packaging
PySide6
PySide6_Addons
PySide6_Essentials
python-dotenv
python-engineio
python-socketio
requests
shiboken6
simple-websocket
SQLAlchemy
typing_extensions
urllib3
Werkzeug
wsproto
