html,
body {
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background: #008080;
  background: linear-gradient(0deg, rgba(0, 128, 128, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

input, select, button, textarea {
  border-radius: 8px;
  font-family: inherit;
}

header {
  display: flex;
  justify-content: center;
  figure {
    img {
      width: 512px;
      mix-blend-mode: multiply;
    }
  }
}

body > .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex-grow: 1;
}

section#inicio {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#inicio > article {
  margin-top: 64px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;

  a {
    text-decoration: none;
    padding: 8px;
    background-color: #008080;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  a:hover{
    background-color: white;
    color: #008080;
    border: solid 1px #008080;
  }
}

section#nome_jurado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#nome_jurado > form {
  padding: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

section#nome_jurado > form > h2 {
  margin-top: 16px;
}

section#nome_jurado > form > input {
  flex: 100 1 1;
  padding: 12px;
}

section#nome_jurado > form > input[type="text"] {
  width: 600px;
  margin: 16px 0;
}

section#nome_jurado > form > input[type="submit"]{
  background-color: #008080;
  color: white;
  border: none;
  transition: all .3s ease-in-out;
  font-size: 18px;
  cursor: pointer;
  font-weight: 800;
}

section#nome_jurado > form > input[type="submit"]:hover{
  background-color: white;
  color: #008080;
  border: none;
  border: solid 1px #008080;
}

section#votar{
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: fit-content; */
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 64px;

  div.container{
    display: flex;
  }


  h1#numerador{
    margin-top: 19.92px 0;
    position: absolute;
    color: black;
    top:0;
    right:16px;
    border: #008080 solid 1px;
    background-color: white;
    font-size: 32px;
    padding: 8px;
    border-radius: 8px;
  }

  h1{
    span{
      font-weight: 100;
    }
  }

  div.container_criterios{
    display: flex;
    flex-direction: column;

    label{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      gap: 16px;
      font-size: 20px;
      align-items: center;
      background-color: #f9f9f9;
      margin: 4px 0;
      border: solid 1px #ccc;
      border-radius: 8px;
      padding: 8px 16px;

      select{
        height: 64px;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }

  input[type=submit]{
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-top: 32px;
    background-color: #008080;
    color: white;
    transition: all .3s ease-in-out;
    font-size: 20px;
    font-weight: 800;
  }

  input[type=submit]:hover{
    background-color: white;
    color: #008080;
    border: solid 1px #008080;
  }


}

section#fim{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  border: solid 1px white;
  border-radius: 8px;
}

section#rank{
  article{
    table, th, td {
      border: solid 1px #008080;
    }

    td{
      padding: 4px;
    }

    table{
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      border-collapse: collapse;

      thead{
        font-weight: bold;
      }

      tr:nth-child(even){
        background-color: #008080;
        color: white;
      }
    }
  }
}

footer {
  bottom: 0;
  background-color: #008080;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 16px;
  border-top: solid 1px white;

  div.logos{
    display: flex;
  }


  figure {
    img{
      width: 320px;
    }
  }

}
