{% extends "template.html" %} {% block content %}

<style>
    html,
body {
  display: flex;
  width: 100vw;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #008080;
  background: linear-gradient(0deg, rgb(217, 242, 242) 0%, rgba(255, 255, 255, 1) 100%);
}

div.container{
    width: inherit;
}

div#content{
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  figure {
    img {
      width: 512px;
      mix-blend-mode: multiply;
    }
  }
}


footer {
  background-color: #008080;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px white;
  width: 100%;
  position: fixed;
  bottom: 0;

  div.logos{
    display: flex;
  }


  figure {
    img{
      width: 320px;
    }
  }

}

</style>

<section id="fim">
    <div class="container">
        <h1>Não há mais projetos.</h1>
        <h2>Obrigado por participar!</h2>
    </div>
</section>

{% endblock %}
