{% extends "template.html" %} {% block content %}

<style>

html,
body {
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #1B345C;
  background: linear-gradient(0deg, rgb(158, 183, 220) 0%, rgba(255, 255, 255, 1) 100%);
}

aside {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  figure {
    img {
      width: 512px;
      mix-blend-mode: multiply;
    }
  }
}

div#content {
  width: 100%;
  height: calc(100% - 250px);
}

section#nome_jurado {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

section#nome_jurado > form {
  border: 1px solid #ccc;
  padding: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,.4);
}

section#nome_jurado > form > h2 {
  margin-top: 16px;
}

section#nome_jurado > form > input, select {
  flex: 100 1 1;
  padding: 12px;
}

section#nome_jurado > form > select {
  width: 600px;
  margin: 16px 0;
  outline: none;
  cursor: pointer;
}

section#nome_jurado > form > input[type="submit"]{
  background-color: #1B345C;
  color: white;
  border: none;
  transition: all .3s ease-in-out;
  font-size: 18px;
  cursor: pointer;
  font-weight: 800;
  display: none;
}

section#nome_jurado > form > input[type="submit"]:hover{
  background-color: white;
  color: #1B345C;
  border: none;
  border: solid 1px #1B345C;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #1b345c;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px white;

  div.logos{
    display: flex;
  }


  figure {
    img{
      width: 200px;
    }
  }
  
}
</style>

<section id="nome_jurado">
  <form action="/registrar_jurado" method="post">
    <h2>Selecione seu nome e instituição</h2>
    <select id="select_nome" name="nome_jurado">
      <option value="-" disabled selected>Selecione seu nome</option>

      {% for group in jurados|groupby("ies") %}
        <optgroup label="{{ group.grouper }}">
          {% for jurado in group.list %}
            <option value="{{jurado}}">
              {{ jurado['nome_completo'] }}
            </option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <input id="btn_prosseguir" type="submit" value="PROSSEGUIR" />
  </form>
</section>

<script>

const selectNome = document.getElementById("select_nome")
const btnProsseguir = document.getElementById("btn_prosseguir")

selectNome.addEventListener("change", (e) => {
  const value = e.target.value
  let jsonStr = value.replace(/'/g, '"');
  const value_json = JSON.parse(jsonStr)
  btnProsseguir.style.display = "block"
})

</script>

{% endblock %}
