{% extends "template.html" %} {% block content %}

<section id="votar">
  <form action="/registrar_novo_voto" method="post">
    <input type="hidden" name="jurado" value="{{jurado}}" />
    <input type="hidden" name="projeto" value="{{projeto}}" />
    <h1>Jurado: {{jurado}}</h1>
    <h1>PROJETO: {{projeto}}</h1>
    <h2>Escolha sua nota</h2>
    <select name="nota" id="nota_do_projeto">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select>
    <input type="submit" value="Votar" />
  </form>
</section>

{% endblock %}
